# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
/build/

# Ignore checkpoints Folders
INT246/.vscode
INT246/classwork/.ipynb_checkpoints
INT246/Project/.ipynb_checkpoints

INT247/.ipynb_checkpoints
INT247/HousingPricePrediction
INT247/HousingPricePrediction.rar

INT248/.ipynb_checkpoints
1-Python/requirements.txt
